@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

section {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.text-container {
    margin-top: 50px;
    padding: 0 5vw;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 3vh 3vw;
    z-index: 99;
    background: linear-gradient(to bottom, #fff 50%, rgba(255, 255, 255, 0));
}

nav {
    display: flex;
	justify-content: space-between;
	align-items: center;
    width: 100%;
    height: 100%;
}

.navlinks {
    display: flex;
	align-items: center;
    height: 100%;
}

.navbar nav a img {
    width: 25vw;
}

#logoD {
    display: none;
    width: 70vw;
}

#bluD {
    display: none;
    width: 40vw;
}

#bluDtxt {
    text-align: center;
    font-size: 6vw;
    white-space: nowrap;
    width: 100%;
    color: #0C5B9C;
    display: none;
}

#bluDtxt strong {
    font-weight: 800;
}

#modobloomie .right img {
	width: 20vw;
}

.right h2 {
    text-align: center;
    font-size: 4.5vw;
    font-weight: 700;
    white-space: nowrap;
    color: #0C5B9C;
}

.azul {
    color: #1185E3;
}

.amarelo {
    color: #F2C935;
}

nav ul {
	display: flex;
	list-style: none;
    gap: 3vw;
}

nav ul li a {
	color: #1185E3;
    font-size: 2vw;
    font-weight: 700;
	text-decoration: none;
}

nav ul li a:hover {
	color: #F2C935;
    transition: 0.3s;
}

.text-container .texts h1 {
    font-size: 6vw;
    font-weight: 800;
    color: #0C5B9C;
    margin-bottom: 2vh;
    width: 55vw;
}

.text-container .texts p {
    font-size: 3vw;
    font-weight: 400;
    color: #0C5B9C;
    margin-bottom: 2vh;
}

.text-container .texts a button {
    color: #fff;
    font-size: 3vw;
    font-weight: 700;
    background-color: #1185E3;
    margin-top: 2vh;
    padding: 1.5vh 2vw;
    border-radius: 0.5vw;
    border: none;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
  
::-webkit-scrollbar-thumb {
    background-color: #1185E3;
    border-radius: 6px;
}
  
::-webkit-scrollbar-track {
    background-color: #fff;
}

.slider {
    margin: 0 auto;
    width: 60vw;
    height: 65vh;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 320vw;
}

.slides input {
    display: none;
}

.slide {
    width: 60vw;
    height: 65vh;
    position: relative;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 2s;
}

.manual-navigation {
    position: absolute;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

.manual-btn {
    border-radius: 100%;
    width: 1.4vw;
    height: 1.4vw;
    cursor: pointer;
    transition: 0.3s;
}

.manual-btn:hover {
    width: 1.8vw;
    height: 1.8vw;
}

.manual-btn:not(:last-child) {
    margin-right: 0.5vw;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -60vw;
}

#radio3:checked ~ .first {
    margin-left: -120vw;
}

#radio4:checked ~ .first {
    margin-left: -180vw;
}

.slide-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
}

.slider .slides .slide .slide-text h1 {
    font-size: 5vw;
    font-weight: 700;
    margin-bottom: 3vh;
}

.slider .slides .slide .slide-text h3 {
    font-size: 2.5vw;
    font-weight: 400;
    color: #0C5B9C;
}

.btn-azulE {
    background-color: #0C5B9C;
}

.btn-amareloC {
    background-color: #F2C935;
}

.btn-azulC {
    background-color: #1185E3;
}

.btn-amareloE {
    background-color: #D1A503;
}

.checked {
    width: 1.8vw;
    height: 1.8vw;
    transition: 0.3s;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
}

.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left h1 {
    font-size: 5vw;
    font-weight: 800;
    color: #0C5B9C;
    margin-bottom: 2vh;
    white-space: nowrap;
}

.left h2 {
    font-size: 3vw;
    font-weight: 700;
    color: #0C5B9C;
    margin-bottom: 3vh;
    width: 35vw;
}

.right h2 strong {
    font-weight: 800;
}

.left .form-container .form-input {
    font-size: 1.8vw;
    font-weight: 400;
    color: #0C5B9C;
    background-color: #D6E1ED;
    border: none;
    margin-bottom: 2vh;
    border-radius: 0.5vw;
    padding: 1.5vh 1.3vw;
    width: 30vw;
}

.left .form-container .form-submit {
    font-size: 2vw;
    font-weight: 700;
    background-color: #1185E3;
    color: #fff;
    border: none;
    width: 30vw;
    padding: 1.5vh 0;
    border-radius: 0.5vw;
}

.left .form-container .form-input::placeholder {
    color: #0C5B9C;
}

/* -------------- MEDIA QUERIES -------------- */

@media only screen and (max-width: 600px) {
    .navbar {
        display: none;
    }

    #logoD {
        display: block;
    }

    #home {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0 5vw;
    }

    .text-container .texts h1 {
        font-size: 8vw;
        width: auto;
    }

    .text-container .texts {
        display: flex;
        flex-direction: column;
        gap: 4vh;
    }

    .text-container .texts p {
        font-size: 5.5vw;
        font-weight: 400;
        color: #0C5B9C;
        margin-bottom: 2vh;
    }
    
    .text-container .texts a button {
        font-size: 7vw;
        padding: 1.5vh 5vw;
        border-radius: 1vw;
    }

    .slider {
        width: 80vw;
        height: 70vh;
    }
    
    .slides {
        width: 320vw;
    }
    
    .slide {
        width: 80vw;
        height: 70vh;
        border-radius: 4vw;
        padding: 0 8vw;
    }
    
    .manual-navigation {
        width: 80vw;
    }
    
    .manual-btn {
        width: 3vw;
        height: 3vw;
    }
    
    .manual-btn:not(:last-child) {
        margin-right: 1.2vw;
    }
    
    #radio1:checked ~ .first {
        margin-left: 0;
    }
    
    #radio2:checked ~ .first {
        margin-left: -80vw;
    }
    
    #radio3:checked ~ .first {
        margin-left: -160vw;
    }
    
    #radio4:checked ~ .first {
        margin-left: -240vw;
    }
    
    .slide-text {
        width: auto;
    }
    
    .slider .slides .slide .slide-text h1 {
        font-size: 9vw;
    }
    
    .slider .slides .slide .slide-text h3 {
        font-size: 5vw;
    }
    
    .checked {
        width: 4vw;
        height: 4vw;
    }

    .manual-btn:hover {
        width: 4vw;
        height: 4vw;
    }

    .left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    
    .right {
        display: none;
    }

    #bluD {
        display: block;
        padding: 2vh 0;
    }
    
    #bluDtxt {
        font-size: 7vw;
        display: block;
        width: 100%;
        text-align: center;
    }

    .left h1 {
        font-size: 8vw;
        margin-bottom: 0;
    }
    
    .left h2 {
        font-size: 5vw;
        font-weight: 700;
        color: #0C5B9C;
        width: 60vw;
        text-align: center;
    }
    
    .left .form-container .form-input {
        font-size: 4vw;
        font-weight: 400;
        color: #0C5B9C;
        background-color: #D6E1ED;
        border: none;
        margin-bottom: 2vh;
        border-radius: 1vw;
        padding: 1.5vh 3vw;
        width: 60vw;
    }
    
    .left .form-container .form-submit {
        font-size: 5vw;
        width: 60vw;
        padding: 1.5vh 2vw;
        border-radius: 1vw;
        margin-top: 1.5vh;
    }
    
}